*.iml
.gradle/
.idea/
local.properties
build/
**/build/
.externalNativeBuild/
.cxx/
captures/
*.jks
*.keystore
keystore.properties
deepseekapi.txt
*.iml
.gradle/
.idea/
.kotlin/
build/
**/build/
local.properties
deepseekapi.txt
*.jks
*.keystore
*.apk
*.aab
